$mainFont: 'Open Sans', sans-serif;
$additionalFont: 'SB Sans Display Semibold', sans-serif;
$mainColor: #ffffff;
$additionalColor: rgba(255, 255, 255, 0.96);
$mainBackgroundColor: #080808;
@import "adaptive";


body{
  background: $mainBackgroundColor;
  font-family: $mainFont;
  color: $mainColor;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;

  @include medium{
    font-size: 14px;
    line-height: 20px;
  }
}

.wrap{
  max-width: 1440px;
  width: 100%;
  padding: 0 64px;
  box-sizing: border-box;
  margin: 0 auto;

    @include large{
      padding: 0 30px;
    }

    @include medium{
      padding: 0 15px;
    }
}

h1{
  font-family: $additionalFont;
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  margin: 10px 0;
  text-align: center;

    @include large{
      font-size: 58px;
      line-height: 62px;
    }

    @include medium{
      font-size: 40px;
      line-height: 46px;
    }
}

h2{
  font-family: $additionalFont;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  color: $additionalColor;
  max-width: 850px;
  width: 100%;
  margin: 8px 0;

  @include large{
    font-size: 44px;
    line-height: 58px;
  }

  @include medium{
    font-size: 32px;
    line-height: 36px;
  }
}

h3{
  font-family: $additionalFont;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  margin: 8px 0;
  color: $additionalColor;
  max-width: 500px;
  width: 100%;

  @include large{
    font-size: 28px;
    line-height: 32px;
  }

  @include medium{
    font-size: 24px;
    line-height: 30px;
  }
}

p{
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.019em;
  margin: 8px 0;

  @include medium{
    font-size: 18px;
    line-height: 26px;
  }
}

span{
  color: $additionalColor;
  margin: 4px 0;
  max-width: 380px;
  width: 100%;
}

.button{
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.018em;
  padding: 18px 26px;
  color: rgba(255, 255, 255, 0.96);
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.12);
  transition: 0.3s;

    &:hover{
      background: rgba(253, 209, 255, 0.4);
      transition: 0.4s;
      border-radius: 20px;
    }
}